<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mwsprak6">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Webinar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mwsprak6"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name=".DeleteAct"
            android:exported="true" />
        <activity
            android:name=".EditAct"
            android:exported="true"
            android:label="Edit Data"/>
        <activity
            android:name=".CreateAct"
            android:exported="true"
            android:label="Tambah Data"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Dashboard"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>